fileStructure/drSuesSchema.rnc

start = book
book = element book {metadata, title, body}
metadata = element metadata {genre, type,date}
genre = attribute genre {"prose"}
type = attribute type {text}
date = attribute date {xsd:gYear}
title = element title {text}
body = element body {mixed{(p | stanza)*}}
p = element p {s*}
s = element s {mixed{char* | place}}
char = element char {n, type, text}
n = attribute n {xsd:integer}
place = element place {text}
stanza = element stanza {l*}
l = element l {text}
