fileStructure/mulberry_street.rnc

start = book 
book = element book {metadata, title, body}
    metadata = element metadata {genre, type, date}
        genre = attribute genre {"rhyme"}
        type = attribute type {"moral"}
        date = attribute date {"1937"}
    title = element title {text}
    body = element body {stanza+}
        stanza = element stanza {l+}
            l = element l {text}