fileStructure/prose.rnc

start = book
book = element book {metadata, title, body}
    metadata = element metadata {genre, type, date}
        genre =  attribute genre {"rhyme"|"prose"}
        type = attribute type {"literacy"}
        date = attribute date {xsd:integer}
    title = element title {text}
    body = element body {stanza*}
        stanza = element stanza {l+}
        l = element l {text}