fileStructure/what_was_i_scared_of_1961.rnc

start = book
book = element book {metadata, title, body}
    metadata = element metadata {genre, type, date}
        genre = attribute genre {text}
        type = attribute type {text}
        date = attribute date {xsd:integer}
    title = element title {text}
    body = element body {stanza+}
        stanza = element stanza {l+}
            l = element l {text}
