fileStructure/wocket_1974.rnc

start = book
book = element book {metadata, title, body}
    metadata = element metadata {genre, type, date}
        genre = attribute genre {"prose"}
        type = attribute type {"literacy"}
        date = attribute date {"1974"}
    title = element title {text}
    body = element body {stanza+}
        stanza = element stanza {li+}
            li = element li {text}
